---
import Layout from "../layouts/Layout.astro";
import Loading from "../components/Loading.astro";
import Background from "../components/Background.astro";
// import Experience from "../components/experience/index.astro";
// import { EXPERIENCE } from "../data/experience.tsx";
// import Component from "../components/Component.astro";
// import { SOCIALS } from "../data/socials";
---

<Layout title="Blog - Ranuka Dinsitha">
  <Background />
  <h1>Welcome, to my Docs!</h1>
</Layout>
