---
import Component from "../components/Component.astro";
import Layout from "../layouts/Layout.astro";
import Loading from "../components/Loading.astro";
import Button from "../components/Button.svelte";
---

<Layout title="Jesper - Ranuka Dinsitha">
  <Loading />
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <style>
      .open-sans {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
      }
    </style>
  </head>
  <body class="text-align-center">
    <h1>Test</h1>
  </body>
</Layout>
